@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

/* Je détermine les polices*/
body{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body{
    font-size: 1.2rem;
}

/*Général*/
*{
    margin: 0;
    padding: 0;
}


/* HEADER */
header{
    width: 100%;
    height: 129px;
    position: fixed; /* pour que le header reste en haut de la page lorsqu'on scroll */
    z-index: 1000; /* Assure que le header est au-dessus des autres éléments */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1)); /* Dégradé : Noir opaque -> Noir transaprent */
}

.barre-de-navigation{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.barre-de-navigation li{
    list-style: none;
}

.barre-de-navigation li a{
    text-decoration: none;
    color: white;
}

.barre-de-navigation li a:hover{
    text-shadow:gainsboro;
}

.Logo-nav{
    width: 110px;
    height: 90px;
}



/* MAIN */
.titre-h2{
    font-family: "Italiana", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    display: inline-block;
    text-decoration: underline;
}

.titre-h2::after {
    content: "";
    display: block;
    width: 50%;
    height: 2px;
    position: absolute;
    left: 25%;
    bottom: -5px; /* Espace entre le texte et le soulignement */
}

.button{
    padding: 10px 45px;
    font-size: 1.2rem;
    color:#1f2912 ;
    background-color: transparent;
    border: 2px solid #465D2A;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.button:hover{
    color: white;
    background-color: #465D2A;
    border: 2px solid #465D2A;
}

.button-orange {
    padding: 10px 45px;
    font-size: 1.2rem;
    color: white;
    background-color: #d37533;
    border: 2px solid #d37533;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  .button-orange:hover {
    background-color: #d37533;
    color: black;
    border: 2px solid #d37533;
  }

/* SECTION 1 : page d'acceuil -photo background */

#Page-acceuil{
    width: 100%;
    height:fit-content ;
}

.fond-hero{
    position: relative;
    width: 100%;
    height: 100%;
}

.conteneur-texte-hero{
    position: absolute; /*pour mettre ce conteneur au dessus le l'image, qui elle a été placée en absolute*/
    max-width: 700px;
    color:white;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20%;
    display: flex; /* Using flexbox to align elements */
    flex-direction: column; /* Aligning elements vertically */
    align-items: center; /* Centering elements horizontally */
    gap: 20px; /* Adding space between elements */
}

.conteneur-texte-hero h1{
    font-family: "Italiana", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5rem;
}

.button-orange{
    padding: 10px 45px;
    font-size: 1.2rem;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.button-orange:hover{
    background-color: #D37533;
    color: black;
    border:2px solid #D37533;
}


/* SECTION 2 : rubrique Le restaurant  */

.Le-Restaurant{
    width: 85%;
    height: auto;
    margin: 4% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
}

.boite-gch{
    width: 40%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}
.boite-gch p{
    text-align: center;
}

.boite-drte{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 3%;
}

.image-portrait{
    width: 400px;
    height: 500px;
    border-radius: 3px;
}


/* SECTION 3 : rubrique LA CHEFFE  */

#La-Cheffe{
    width: 100%;
    height: auto;
    margin: 4% auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#La-Cheffe img{
    width: 700px;
    height: auto;
    border-radius:0 3px 3px 0;
}


/* SECTION 4 : rubrique Spécialités  */

#Spécialités{
    width: 90%;
    height: auto;
    margin: 4% auto;
}

.boite-spe{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.boite-spe p{
    text-align: center;
}

#grid-3{
    display: grid;
    grid-template-columns: repeat(3,2fr);
    gap: 20px;
}
#grid-3 img{
    width: 400px;
    height: 610px;
    border-radius: 3px;
}
#grid-3 p{
    text-align: left;
}


/* SECTION 5 : rubrique des citations  */

#Citations-2{
    position: relative;
    max-width: 60%;
    height: auto;
    margin: 7% auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.Citations{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
}

.Citations p{
    text-align: center;
}

.Citations img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.boite-cit{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.boite-cit b{
    font-family: "Italiana", serif;
    font-weight: 600;
    font-style: normal;
}



/* SECTION 6 : LAST SECTION  */

#Derniere-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.map{
    width: 50%;
    height:auto ;
}

.boite-last-drte{
    width: 50%;
    /* min-height: 508px; */
    height:750px ;
    padding: 50px 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 25px;
}
 .boite-last-drte p{
    max-width: 40%;
    text-align: center;
 }



 /* LE FOOTER  */

 footer{
    width: 100%;
    height: fit-content;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.932);
}

#fond-flamme{
    width: 100%;
    position: absolute;
}

#Footer{
    position: relative;
    width: 93%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}

.footer-haut{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: left;
    justify-content: space-between;
    gap: 5%;
    padding-top: 5%;
    margin-bottom: 2%;
}

#Footer{
    color: white;
}
 .mini-column{
    display: flex;
    flex-direction: column;
    gap: 10%;
 }
 .mini-column input{
    padding: 10px 20px;
    border: 2px solid  #D37533;
    border-radius: 5px;
 }

 .footer-bas{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20%;
 }
 .footer-bas2{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20%;
 }
 .footer-icon{
    width: 7%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 
 .icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.icon:hover{
    cursor: pointer;
}

#Footer hr{
    color: white;
}